<table class="table table-hover" id="table-report">
    <tbody>
        <tr class="report-row">
            <td>
                <input type="radio" name="type" checked> Generate All
            </td>
            <td></td>
        </tr>
        <tr class="report-row">
            <td>
                <input type="radio" name="type"> Generate by Incident type
            </td>
            <td class="d-flex flex-column" style="gap: 1rem;">
                <select id="incident-type" name="incident-type" class="card p-2 flex-row">
                    <option value="" selected disabled>-- Select --</option>
                </select>
            </td>
        </tr>
        <tr class="report-row">
            <td>
                <input type="radio" name="type"> Generate by Incident date
            </td>
            <td class="d-flex flex-column" style="gap: 1rem;">
                <select id="incident-date" name="incident-date" class="card p-2 flex-row">
                    <option value="" selected disabled>-- Select --</option>
                </select>
            </td>
        </tr>
        <tr class="report-row">
            <td>
                <input type="radio" name="type"> Generate by Evacuation Center
            </td>
            <td class="d-flex flex-column" style="gap: 1rem;">
                <select id="evac-center" name="evac-center" class="card p-2 flex-row">
                    <option value="" selected disabled>-- Select --</option>
                </select>
            </td>
        </tr>
    </tbody>
</table>