<form method="post" id="report-form">
    <table class="table table-hover" id="table-report">
        <tbody>
            <tr class="report-row">
                <td>
                    <input type="radio" name="type" value="all" checked> Generate All
                </td>
                <td></td>
            </tr>
            <tr class="report-row">
                <td class="">
                    <input type="radio" name="type" value="disaster-type"> Generate by Disaster type
                </td>
                <td class="d-flex flex-column" style="gap: 1rem;">
                    <select id="disaster-type" name="disaster-type" class="card m-0 p-2 flex-row">
                        <option value="" selected disabled>-- Select --</option>
                        {select-disaster-type} 
                    </select>
                </td>
            </tr>
            <tr class="report-row">
                <td class="">
                    <input type="radio" name="type" value="disaster-date"> Generate by Disaster date
                </td>
                <td class="d-flex flex-column" style="gap: 1rem;">
                    <select id="disaster-date" name="disaster-date" class="card m-0 p-2 flex-row">
                        <option value="" selected disabled>-- Select --</option>
                        {select-disaster-date}
                    </select>
                </td>
            </tr>
            <tr class="report-row">
                <td class="">
                    <input type="radio" name="type" value="evac-center"> Generate by Evacuation Center
                </td>
                <td class="d-flex flex-column" style="gap: 1rem;">
                    <select id="evac-center" name="evac-center" class="card m-0 p-2 flex-row">
                        <option value="" selected disabled>-- Select --</option>
                        {select-evac-center}
                    </select>
                </td>
            </tr>
        </tbody>
    </table>
</form>