<div class="p-2" style="max-width: 80vw; max-height: 65vh; overflow-y: auto;">
    <section>
        <section>
            Barangay Barangka Ibaba Evacuation Manager takes your privacy and data security seriously.
        </section>
        <section>
            We are dedicated to complying with the Data Privacy Act and protecting your personal information.
            This Privacy Policy outlines how we collect, use, and safeguard your data when you use our website.
        </section>
    </section>
    <ol>
        <li>
            <section style="font-weight: bold;">
                Information Collection
            </section>
            <section>
                We may collect the following types of information when you use our website:
            </section>
            <ul>
                <li>
                    Personal Information: This includes your name, email address, and any other information you provide
                    during registration.
                </li>
                <li>
                    Usage Information: We may collect data related to your interactions with our website,
                    such as login times, IP addresses, and device information.
                </li>
            </ul>
        </li>
        <li>
            <section style="font-weight: bold;">
                How We Use Your Information
            </section>
            <section>
                We use the collected information for the following purposes:
            </section>
            <ul>
                <li>To facilitate and secure your login to our website.</li>
                <li>To personalize your user experience.</li>
                <li>To communicate with you about updates, news, and promotions.</li>
                <li>To comply with legal obligations and regulations.</li>
            </ul>
        </li>
        <li>
            <section style="font-weight: bold;">
                Data Security
            </section>
            <section>
                We take appropriate measures to protect your data from unauthorized access,
                disclosure, alteration, or destruction. Our website employs encryption,
                access controls, and regular security assessments to maintain the integrity
                and confidentiality of your information.
            </section>
        </li>
        <li>
            <section style="font-weight: bold;">
                Sharing Your Information
            </section>
            <section>
                We do not sell, trade, or transfer your personal information to third parties. However, we may share
                your data with trusted service providers to improve our website's performance and functionality.
            </section>
            <ul>
                <li></li>
            </ul>
        </li>
        <li>
            <section style="font-weight: bold;">
                Your Rights
            </section>
            <section>
                You have the right to:
            </section>
            <ul>
                <li>Access, correct, or delete your personal information.</li>
                <li>Object to the processing of your data.</li>
                <li>Lodge a complaint if you believe your data privacy rights have been violated.</li>
            </ul>
        </li>
        <li>
            <section style="font-weight: bold;">
                Contact Us
            </section>
            <section>
                If you have any questions, concerns, or requests regarding your data or this
                Privacy Policy, please contact us at devs.email@sample.com
            </section>
        </li>
    </ol>
    <section class="mb-3">
        By using our website, you acknowledge and consent to the practices described in this Privacy Policy.
        We may update this policy to comply with legal requirements and maintain your data security.
    </section>
    <section>
        Date of Last Revision: November 6, 2023
    </section>
</div>